<nav class="navbar">
  <div class="logo">
    <a routerLink="/">IorioCars</a>
  </div>
  <ul class="nav-links">
    <li class="nav-home"><a (click)="goHome()">Home</a></li>
    <li class="nav-about"><a href="#about">Chi siamo</a></li>
    <li class="nav-services"><a href="#services">Servizi</a></li>
    <li class="nav-contacts"><a href="#footer">Contatti</a></li>
    <li class="nav-dashboard"><a routerLink="/dashboard">Parco Auto</a></li>
    <li class="nav-admin" *ngIf="loggedIn"><a routerLink="/admin">Area Riservata</a></li>
  </ul>
  <div class="auth">
    <button *ngIf="!loggedIn" routerLink="/login">Accedi</button>
    <button *ngIf="loggedIn" (click)="logout()">Esci</button>
  </div>
</nav>

