<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" (input)="onInputChange()" required>
      <div class="field-error" *ngIf="emailError">{{ emailError }}</div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" (input)="onInputChange()" required>
      <div class="field-error" *ngIf="passwordError">{{ passwordError }}</div>
    </div>

    <!-- Messaggio di errore generico -->
    <div class="login-error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button type="submit">Accedi</button>
  </form>
</div>

